<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all comments</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .comments {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .comments tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .comments td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>
<h3>Comments:</h3>
<table id='comTable' class="comments">
    <thead>
    <tr>
        <th>ID</th>
        <th>Text</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
<div class="padding-top">
    <a href="/">
        <button type="button">Books</button>
    </a>
</div>
<script>
    function fillTable() {
        const url = new URL(window.location);
        const bookId = url.searchParams.get('bookId');
        fetch("/api/comments?bookId=" + bookId)
            .then(res => res.json())
            .then(data => {
                data.forEach((data) => {
                    const temp = `<tr><td>${data.id}</td><td>${data.text}</td></tr>`
                    comTable.insertAdjacentHTML('beforeend', temp)
                })
            })
    }
    window.addEventListener('load', fillTable)
</script>
</body>
</html>