spring:
  datasource:
    url: jdbc:h2:mem:maindb
  messages:
    encoding: UTF-8
  sql:
    init:
      mode: always
      data-locations:
        classpath: data.sql
      schema-locations:
        classpath: schema.sql
  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: none
    show-sql: true
  h2:
    console:
      enabled: true