<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit person</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<script>
    function saveBook() {
        const bookTitleId = document.getElementById("id-input")
        const bookTitleInput = document.getElementById("book-title-input")
        if (bookTitleInput.value === "") {
            alert("Заполните Заголовок");
            return;
        }
        const authorInput = document.getElementById("author-select")
        const genreInput = document.getElementById("genre-select")

        const book = { id: bookTitleId.value, title: bookTitleInput.value, authorDto: {id: authorInput.value}, genreDto: {id: genreInput.value}}
        fetch("/api/books", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(book)})
            .then(rawResponse => rawResponse.json())
            .then(() => {window.location.href = '/books'})
    }
    function editBook(idBook) {
        fetch("/api/books/" + idBook)
            .then(res => res.json())
            .then((data) =>
            {
                document.getElementById("id-input").value = data.id;
                document.getElementById("book-title-input").value = data.title;
                document.getElementById("author-select").value = data.authorDto.id
                document.getElementById("genre-select").value = data.genreDto.id
            })
    }

    window.onload = function () {
        const url = new URL(window.location);
        const bookId = url.searchParams.get('id');
        if (bookId.toString() != "") {
            editBook(bookId)
        }
    }
</script>
<!-- Book edition -->
<form id="edit-form" action="bookEdit.html"  method="post">
    <h3>Book Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" value="0" />
    </div>

    <div class="row">
        <label for="book-title-input">Title:</label>
        <input id="book-title-input" name="title" type="text" />
    </div>

    <div class="row">
        <label for="author-select">Author:</label>
        <select id="author-select">
            <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.fullName}"
            />
        </select>
    </div>

    <div class="row">
        <label for="genre-select">Genre:</label>
        <select id="genre-select">
            <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"/>
        </select>
    </div>

    <div class="row">
            <button type="button" onclick="saveBook()" >Save</button>
        <a href="/">
            <button type="button">Cancel</button>
        </a>

    </div>
</form>
</body>
</html>